/*
.week — wrapper voor de 7 dagen van de gekozen week

.day-card — container per dag (hele “blok”)

.day-title — kopregel van de dag (bv. “MAANDAG 1 AUG”)

.day-body — inhoud onder de titel (namen/bericht)

.empty — tekst 
*/

.week {
    width: 100vw;
    font-size: 0.8rem;
    display: row;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}

.day-card {
    margin-top: 10px;
}

.day-title {
    background-color: #d8d262;
    font-weight: 400;
    border-radius: 0 10px 0 0;
}

.empty {
    color: #a3a2a2;
    font-size: 0.8rem;
    font-family: "Kumbh Sans", sans-serif;
    padding-top: 0.3rem;
}